extend layout

block content
  h1 Questions
  .questions.edit
    each question in questions
      - var questionUrl = '/elder/questions/' + question.id
      - var newAnswerUrl = questionUrl + "/answers/new"
      hr
      .question
        h3.question-title= question.title 
        p.question-description= question.description
        form(action=questionUrl + '/delete', method='post')
          button.btn.btn-danger(type='submit') Delete
          
      .answers
        .row
          h4.col-sm-12 Answers
          each answer in question.Answers
            - var answerUrl = questionUrl + '/answers/' + answer.id
            .col-sm-6
              .answer.clearfix
                span.answer-description= answer.description
                form(action=answerUrl + '/delete', method='post')
                  button.btn.btn-danger(type='submit') Delete
          
      form.new-answer(action=newAnswerUrl, method='post')
        .form-group
          label(for='answerInput') Add Answer
          input#answerInput.form-control(type'text' name='answerDescription')
          button.btn.btn-default(type='submit') Save
  hr
  h2 Add Question
  form(action='/elder/questions/new', method='post')
    .form-group
      label(for='questionTitleInput') Title
      input#questionTitleInput.form-control(type='text' name='questionTitle')
    .form-group
      label(for='questionDescriptionInput') Description
      input#questionDescriptionInput.form-control(type='text' name='questionDescription')
    button.btn.btn-default(type='submit') Save